@use "../0_utilities/__index" as *;

$nav-desktop: rem(130);
$nav-mobile: rem(160);

#header,
.nav {
  width: 100%;
  height: $nav-desktop;
  z-index: $nav-index;
  background: transparent;
  display: none;

  @include for-mobile {
    position: relative;
    height: $nav-mobile;
  }

  // if you need header float and leave content full screen
  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__ham,
  &__exit {
    box-sizing: content-box;
    height: auto;
    cursor: pointer;
    padding: rem(33) rem(60);
  }

  &__ham {
    width: rem(60);
  }

  &__exit {
    width: rem(50);
  }

  &__title {
    text-transform: uppercase;
    color: $black;
  }
}
