@use "../0_utilities/__index" as *;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // docs: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

// TODO: check base font size
body {
  @include user-select-none;
  margin: 0;
  padding: 0;
  font-family: $text-font;
  color: $text-color;
  font-size: rem(32);
  font-weight: normal;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-container {
  @include flex-column;
  @include fill-area;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.m-style {
  display: none;

  @include for-mobile {
    display: block;
  }
}

.d-style {
  display: block;

  @include for-mobile {
    display: none;
  }
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}
