@use "../0_utilities/__index" as *;

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // docs: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  @include user-select-none;
  @include flex-center;
  margin: 0;
  padding: 0;

  font-family: $text-font, "Century Gothic";
  color: $text-color;
  font-weight: 400;
  text-align: center;
  font-size: rem(40);
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-container {
  @include flex-column;
  @include fill-area;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: 400;
}

.img {
  width: 100%;
  height: 100%;

  &--contain {
    object-fit: contain;
  }

  &--cover {
    object-fit: cover;
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
