@use "../global" as *;
html,
body {
  margin: 0;
  padding: 0;
}

#tangled {
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  .bg {
    @include absolute-center;
    width: 110vw;
    height: 110vh;
    @include bg-cov("../images/general/bg.jpg");
  }

  .castle {
    position: absolute;
    width: rem(938);
    height: rem(653);
    left: calc(50% - rem(469));
    bottom: rem(180);
    filter: blur(3px);

    @include for-mobile {
      bottom: 28%;
    }
  }
  .hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
  }

  // ================= SCENE =================
  /* ตัว clip จริง */
  .scene-clip {
    position: absolute;
    inset: 0;
    overflow: hidden; // clip แค่ตรงนี้
  }

  /* ตัวที่ ScrollTrigger pin */
  .scene-wrap {
    position: absolute;
    inset: 0;
  }

  /* buffer กัน scale */
  .scene-buffer {
    width: 120vw;
    height: 120vh;
    transform: translate(-10vw, -10vh);

    @media (max-width: 768px) {
      width: 100vw;
      height: 100vh;
      transform: none; // ⭐ สำคัญ
    }
  }
  // vignette cinematic
  .scene-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
      circle,
      transparent 55%,
      rgba(0, 0, 0, 0.35) 100%
    );
  }

  // ================= SVG =================

  .lantern-scene {
    width: 100%;
    height: 100%;
    display: block;
  }

  // ================= LAYERS =================

  .lantern-layer {
    transform-box: fill-box;
    transform-origin: center;
    will-change: transform;
  }

  // ================= GLOW =================

  .glow {
    filter: blur(18px);
    opacity: 0.85;
  }

  // ================= DUST =================

  .dust circle {
    fill: #fff6cf;
    opacity: 0.6;
  }

  .lantern-sky {
    @include for-mobile {
      transform: translate(0%, -30%) !important;
    }
  }

  .water-anchor {
    @include for-mobile {
      scale: 1 !important;
      transform: translate(0%, -18%) !important;
    }

    .water-scale {
      @include for-mobile {
        scale: 2.5 !important;
        transform: translate(-16%, -20%) !important;
      }
    }

    .boat {
      @include for-mobile {
        scale: 1.2;
        transform: translate(58%, 62%);
      }
    }
  }

  // ================= CARD =================

  .valentine-card {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, 40px) scale(0.8);
    opacity: 0;
    width: rem(720);
    background: rgba(255, 255, 255, 0.8);
    padding: rem(40);
    border-radius: 20px;
    text-align: center;
    will-change: transform, opacity;
  }

  .lantern-layer.far {
    filter: blur(3px);
  }

  .lantern-layer.mid {
    filter: blur(1.5px);
  }

  .lantern-layer.near {
    filter: blur(0px);
  }

  #scroll-box {
    height: rem(20000);
    @include for-desktop {
      height: rem(30000);
    }
  }

  .scroll-wraper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    overflow-y: overlay;
    overflow-x: hidden;
  }

  .scroll-inner {
    position: relative;
    top: -100%;
  }

  .layer {
    &--1 {
      position: relative;
      z-index: 6;
      .flower {
        position: absolute;
        object-fit: contain;

        will-change: transform;
        backface-visibility: hidden;

        &--1 {
          width: rem(1333);
          height: rem(1333);
          top: rem(1450);
          right: rem(-387);
          transform: rotate(-27.75deg);
          z-index: 10;
        }

        &--2 {
          width: rem(1447.91);
          height: rem(1447.91);
          top: rem(1300);
          left: rem(-250);
          transform: rotate(-8deg);
          z-index: 9;
        }

        &--3 {
          width: rem(1337.24);
          height: rem(1337.24);
          top: rem(379);
          right: rem(-330);
          transform: rotate(19.63deg);
          z-index: 8;
        }

        &--4 {
          width: rem(1413.68);
          height: rem(1413.68);
          top: rem(-350);
          left: rem(-163);
          transform: rotate(-12deg);
          z-index: 7;
        }

        &--5 {
          width: rem(1128.11);
          height: rem(1128.11);
          top: rem(-180);
          right: rem(-280);
          transform: rotate(9deg);
          z-index: 6;
        }

        &--6 {
          width: rem(1600);
          height: rem(1600);
          top: rem(304);
          left: rem(-403);
          z-index: 5;
        }
      }
    }

    &--2 {
      position: relative;
      z-index: 5;

      .flower {
        position: absolute;
        object-fit: contain;

        will-change: transform;
        backface-visibility: hidden;

        &--1 {
          width: rem(758.56);
          height: rem(758.56);
          top: rem(1400);
          right: rem(-140);
          transform: rotate(-36.16deg);
          z-index: 10;
        }

        &--2 {
          width: rem(825.61);
          height: rem(825.61);
          top: rem(586);
          left: rem(-372);
          transform: rotate(19.63deg);
          z-index: 9;
        }

        &--3 {
          width: rem(633.28);
          height: rem(633.28);
          top: rem(466);
          left: rem(158);
          transform: rotate(23.25deg);
          z-index: 8;
        }

        &--4 {
          width: rem(627.92);
          height: rem(627.92);
          top: rem(922);
          right: rem(-410);
          transform: rotate(-27.75deg);
          z-index: 7;
        }

        &--5 {
          width: rem(591.02);
          height: rem(591.02);
          top: rem(434);
          right: rem(-309);
          transform: rotate(15deg);
          z-index: 6;
        }

        &--6 {
          width: rem(686.16);
          height: rem(686.16);
          top: rem(1304);
          left: rem(-69);

          z-index: 5;
        }
      }
    }

    &--3 {
      position: relative;
      z-index: 4;

      .flower {
        position: absolute;
        object-fit: contain;

        will-change: transform;
        backface-visibility: hidden;

        &--1 {
          width: rem(466.23);
          height: rem(466.23);
          top: rem(864);
          left: rem(-155);
          transform: rotate(-29.04deg);
          z-index: 11;
        }

        &--2 {
          width: rem(360.43);
          height: rem(360.43);
          top: rem(636);
          left: rem(406);
          transform: rotate(10.81deg);
          z-index: 10;
        }

        &--3 {
          width: rem(377.23);
          height: rem(377.23);
          top: rem(1420);
          left: rem(267);
          transform: rotate(72.05deg);
          z-index: 9;
        }

        &--4 {
          width: rem(377.23);
          height: rem(377.23);
          top: rem(1272);
          right: rem(11);
          transform: rotate(-43.6deg);
          z-index: 8;
        }

        &--5 {
          width: rem(430.91);
          height: rem(430.91);
          top: rem(830);
          right: rem(-189);
          transform: rotate(14.9deg);
          z-index: 7;
        }

        &--6 {
          width: rem(278.23);
          height: rem(278.23);
          top: rem(879);
          left: rem(302);
          transform: rotate(14.9deg);
          z-index: 6;
        }

        &--7 {
          width: rem(276.95);
          height: rem(276.95);
          top: rem(865);
          left: rem(591);
          transform: rotate(-13.54deg);
          z-index: 5;
        }

        &--8 {
          width: rem(240.74);
          height: rem(240.74);
          top: rem(1100);
          left: rem(639);
          transform: rotate(-17.84deg);
          z-index: 4;
        }

        &--9 {
          width: rem(293.23);
          height: rem(293.23);
          top: rem(1289);
          left: rem(471);
          transform: rotate(10.81deg);
          z-index: 10;
        }

        &--10 {
          width: rem(310.28);
          height: rem(310.28);
          top: rem(1114);
          left: rem(213);
          z-index: 2;
          @include for-desktop {
            transform: rotate(10deg);
          }
        }

        &--11 {
          width: rem(131.86);
          height: rem(131.86);
          top: rem(1133);
          left: rem(534);

          z-index: 11;
        }
      }
    }

    &--4 {
      position: relative;
      z-index: 3;

      .flower {
        position: absolute;
        object-fit: contain;

        will-change: transform;
        backface-visibility: hidden;

        &--1 {
          width: rem(149.67);
          height: rem(149.67);
          top: rem(1018.5);
          left: rem(416.6);
          transform: rotate(-27.75deg);
          z-index: 11;
        }

        &--2 {
          width: rem(185.53);
          height: rem(185.53);
          top: rem(1039);
          left: rem(612);
          transform: rotate(25.4deg);
          z-index: 10;
        }

        &--3 {
          width: rem(149.7);
          height: rem(149.7);
          top: rem(1252);
          left: rem(639);

          z-index: 9;
        }

        &--4 {
          width: rem(127.8);
          height: rem(127.8);
          top: rem(1167);
          left: rem(427);
          transform: rotate(-27.75deg);
          z-index: 8;
        }

        &--5 {
          width: rem(149.84);
          height: rem(149.84);
          top: rem(1338);
          left: rem(500);

          z-index: 7;
        }

        &--6 {
          width: rem(101.29);
          height: rem(101.29);
          top: rem(1253);
          left: rem(482);
          transform: rotate(-17.7deg);
          z-index: 6;
        }

        &--7 {
          width: rem(121.24);
          height: rem(121.24);
          top: rem(1087);
          left: rem(527);

          z-index: 5;
        }

        &--8 {
          width: rem(90.26);
          height: rem(90.26);
          top: rem(1258);
          left: rem(586);

          z-index: 4;
        }

        &--9 {
          width: rem(96.68);
          height: rem(96.68);
          top: rem(1169);
          left: rem(635);
          transform: rotate(7.09deg);
          z-index: 3;
        }

        &--10 {
          width: rem(38.61);
          height: rem(38.61);
          top: rem(1219);
          left: rem(575);

          z-index: 2;
        }
      }
    }
  }
  .trigger-box {
    width: 100%;
    height: rem(4000);
    pointer-events: none;

    @include for-desktop {
      height: rem(3000);
    }
  }

  .overlay {
    @include absolute-center;
    @include fill-area;
    background-color: rgba($black, 0.5);
    z-index: 100;

    .text-click {
      position: relative;
      color: $white;
      top: 58%;
    }
  }
}
