@use "../global" as *;
html,
body {
  margin: 0;
  padding: 0;
}

#tangled {
  overflow: hidden;
  .bg {
    @include absolute-center;
    width: 110vw;
    height: 110vh;
    @include bg-cov("../images/general/bg.jpg");
  }

  .castle {
    position: absolute;
    width: rem(938);
    height: rem(653);
    left: calc(50% - rem(469));
    bottom: rem(180);
    filter: blur(3px);

    @include for-mobile {
      bottom: 28%;
    }
  }
  .hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: visible;
  }

  // ================= SCENE =================
  /* ตัว clip จริง */
  .scene-clip {
    position: absolute;
    inset: 0;
    overflow: hidden; // clip แค่ตรงนี้
  }

  /* ตัวที่ ScrollTrigger pin */
  .scene-wrap {
    position: absolute;
    inset: 0;
  }

  /* buffer กัน scale */
  .scene-buffer {
    width: 120vw;
    height: 120vh;
    transform: translate(-10vw, -10vh);

    @media (max-width: 768px) {
      width: 100vw;
      height: 100vh;
      transform: none; // ⭐ สำคัญ
    }
  }
  // vignette cinematic
  .scene-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
      circle,
      transparent 55%,
      rgba(0, 0, 0, 0.35) 100%
    );
  }

  // ================= SVG =================

  .lantern-scene {
    width: 100%;
    height: 100%;
    display: block;
  }

  // ================= LAYERS =================

  .lantern-layer {
    transform-box: fill-box;
    transform-origin: center;
    will-change: transform;
  }

  // ================= GLOW =================

  .glow {
    filter: blur(18px);
    opacity: 0.85;
  }

  // ================= DUST =================

  .dust circle {
    fill: #fff6cf;
    opacity: 0.6;
  }

  // ================= BOAT =================
  .boat {
  }

  .lantern-sky {
    @include for-mobile {
      transform: translate(0%, -30%) !important;
    }
  }

  .water-anchor {
    @include for-mobile {
      scale: 1 !important;
      transform: translate(0%, -18%) !important;
    }

    .water-scale {
      @include for-mobile {
        scale: 2.5 !important;
        transform: translate(-16%, -20%) !important;
      }
    }

    .boat {
      @include for-mobile {
        scale: 1.2;
        transform: translate(58%, 62%);
      }
    }
  }

  // ================= CARD =================

  .valentine-card {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, 40px) scale(0.8);
    opacity: 0;
    width: 200px;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    will-change: transform, opacity;
  }

  .lantern-layer.far {
    filter: blur(3px);
  }

  .lantern-layer.mid {
    filter: blur(1.5px);
  }

  .lantern-layer.near {
    filter: blur(0px);
  }
}
